*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  background-color: $works-body-color;
  // font-size: 16px;
  // font-size: 62.5%;
  font-size: $font-size; //1em=10px
  min-width: $body-min-width;
  //   text-rendering: $body-rendering;
  text-size-adjust: 100%;
}
body {
  color: $body-color;
  font-size: $font-body-size; //1.6rem=16px
  //   font-weight: $body-weight;
  //   line-height: $body-line-height;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: middle;
  border-style: none;
}
section {
  width: 100%;
  margin: 0;
  padding: 0;
}
.bg-black-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  background: rgba(0, 0, 0, 0.1);
}
.uppercase {
  text-transform: uppercase;
}
.text-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
