//layout
// .flex-start-row {
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
//   flex-direction: row;
// }
.sec-wrape {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.left-side-100 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  border-right: none;
  @media (min-width: 960px) {
    width: 50vw;
  }
}
.left-side-50 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @media (min-width: 960px) {
    width: 50vw;
  }
  overflow: hidden;
}
.right-side-50 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @media (min-width: 960px) {
    width: 50vw;
  }
  overflow: hidden;
}
.side-50 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @media (min-width: 960px) {
    width: 50vw;
  }
  overflow: hidden;
}
.side-30 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @media (min-width: 960px) {
    width: 33.33333vw;
  }
  overflow: hidden;
}

.block-100 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.upper-block-50 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 50vh;
}

.buttom-block-50 {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 50vh;
}
.upper-block-75 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 75%;
}
.buttom-block-25 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 25%;
}
.upper-block-10 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10%;

  // padding: 0.5rem 1rem 0 0.5rem;
  // text-align: left;
  // @media (min-width: 960px) {
  //   width: calc(100% - #{$aside-width});
  //   padding: 2.5rem 1rem 0 0.5rem;
  //   text-align: right;
  // }

  // background-color: $body-bg-color;
  // h5 {
  //   color: $red;
  // }
  // border-bottom: 1px solid $grey-dark;
}
.buttom-block-40 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45%;
  // @media (min-width: 960px) {
  //   width: calc(100% - #{$aside-width});
  // }
}
.buttom-block-90 {
  position: relative;
  overflow: hidden;
  width: 100%;
  // background-color: $body-bg-color;
  height: 90%;
  // @media (min-width: 960px) {
  //   width: calc(100% - #{$aside-width});
  // }
}
.upper-block-25 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 25%;
}
.buttom-block-75 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 75%;
}

//navigation icon
.scroll-mouse-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  width: 3rem;
  height: 6.5rem;
  border: 1px solid hsl(0, 0%, 71%);
  border-radius: 50px;
  color: hsl(0, 0%, 71%);
  display: none;
  @media (min-width: 960px) {
    display: block;
  }
  div {
    font-size: $size-7;
  }
}

.swipe-mouse-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding-right: 0.4rem;
  text-align: right;
  width: 10rem;
  height: 2rem;
  color: hsl(0, 0%, 71%);
  margin-top: -0.8rem;
  margin-left: -1.2rem;
  display: block;
  @media (min-width: 960px) {
    display: none;
  }
}

i.style-icon {
  font-size: $size-6;
  color: hsl(0, 0%, 71%);
  display: inline-block;
  margin: 0.5rem;
  @media (min-width: 976px) {
    font-size: $size-5;
  }
}
i.icon-down-arrow {
  margin: -0.6rem 0 2rem 0.4rem;
}
.icon-animation {
  animation: arrow-action 2s 1s ease-in infinite;
}
@keyframes arrow-action {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }

  80% {
    transform: translateY(2rem);
    opacity: 1;
  }
  100% {
    transform: translateY(2rem);
    opacity: 1;
  }
}
.icon-animation-right {
  animation: arrow-action-right 2s 1s ease-in infinite;
}
@keyframes arrow-action-right {
  0% {
    transform: translateX(0rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-2rem);
    opacity: 1;
  }
  100% {
    transform: translateX(-2rem);
    opacity: 1;
  }
}
//transition
.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(250, 250, 250);
  transform: translateY(-100%);
}
.screen-herf {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  transform: translateY(-100%);
}
.screen-left {
  top: 0;
  left: 0;
}
.screen-right {
  top: 0;
  left: 50%;
}
//link-btn
.link-post {
  margin-top: 0.2rem;
  padding: 0.1rem;
  background-color: $red;
  width: 6rem;
  border-radius: $radius-large;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-right: 0.5rem;
    font-size: $size-7;
    color: $white;
  }
  i {
    color: $white;
  }
}
a {
  span,
  i {
    color: $red;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}
.separater-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid $grey-dark;
}
.separater-header {
  position: absolute;
  width: 50%;
  height: $header-height;
  top: 0;
  left: 50%;
  border-bottom: 1px solid $grey-dark;
}
.separater-header-resent {
  position: absolute;
  height: $header-height;
  width: 50%;
  top: 0;
  right: 0%;
  border-bottom: 1px solid $grey-dark;
  border-left: 1px solid $grey-dark;
  @media (min-width: 960px) {
    width: 66.6666%;
    border-left: none;
  }
}
